<html>
<head>
  <title>Homepage</title>
</head>
<body>
  <div class="container">


    <img src="http://dubaruba.com/wp-content/uploads/2014/05/web-banner-logo-sm.png" >

    <img src="http://images.zgallerie.com/is/image/ZGallerie/hero/tic-tac-toe-game-black-silver-181269802.jpg">

    <h2>Welcome back</h2>
    <form action= "/login" method= "POST">
      Name:
      <br>
      <input type="text" name="name">
      <br>
      Password:
      <br>
      <input type="text" name="password">
      <br><br>
      <input type="submit" value="login" name="Login">
    </form>


    <br><br>



    <h3>Newbie, please look here</h3>
    <form action="/signup" method= "POST">
      Name:
      <br>
      <input type="text" name="name">
      <br>
      Password:
      <br>
      <input type="text" name="password">
      <br><br>
      <input type="submit" value="signup" name="Signup">
    </form>
  </div>

</body>
</html>

